// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// NU2 colors:
$brand-yellow: rgba(255, 199, 002, 0.8);
$brand-yellow-darker: rgba(255, 199, 002, 1);
$brand-yellow-faded: rgba(255, 199, 002, 0.4);
$brand-yellow-translucent: rgba(255, 199, 002, 0.2);

$brand-purple: rgba(95,75,182, 1);
$brand-purple-faded: rgba(95,75,182, 0.6);
$brand-purple-translucent: rgba(95,75,182, 0.2);

// Grayscale
$transparent-black: rgba(40, 40, 40, 0.4);
$transparent-white: rgba(200, 200, 200, 0.4);
$off-white: rgba(245, 245, 245, 1);
