// Place all the styles related to the chatrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#main {
    height: 100vh;
    background-color: $brand-yellow;
    overflow: auto;
  
    h2 {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  
    >div {
      height: 90vh;
      background-color: $off-white;
      width: 50%;
      margin: auto;
      border-radius: 5px;
      overflow: auto;
      position: relative;
  
      div#messages {
        height: 90%;
        width: 95%;
        color: white;
        margin: 14px auto;
        overflow: auto;
        display: flex;
        flex-direction: column;
  
        p {
          display: inline-block;
          padding: 10px;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          margin-bottom: 5px;
          margin-top: 5px;
          max-width: 70%;
          width: max-content;
        }
        
    }
    
    .my-message {
    background-color: $brand-yellow-lighter;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 300px;
    }

    .your-message {
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: $brand-purple-lighter;
    align-self: flex-end;
    margin-right: 25px;
    width: 300px;
  
    }

    .my-message-author {
        color: black;
      }

    .your-message-author {
      margin-right: 25px;
      align-self: flex-end;
      color: black;
    }

      #send-message {
        width: 95%;
        margin: auto;
  
        input {
          height: 30px;
          width: 90%;
          border-radius: 10px;
          border: 0;
          background-color: $brand-purple-translucent;
        }
      }
    }
  }