// Specific CSS for your home-page
.banner-container {
  padding-right: 15px;
}

.card-product {
  background-color: $off-white;
  li {
    color: $brand-purple;
  };
}

.card-product-infos {
  color: $brand-purple;
}

.home-image{
  margin-right: -150px;
  img{
    max-width: 840px;
  }
}

#call-to-action-btn {
  flex-grow: 0;
  padding: 15px 20px;
  font-size: 1.3rem;
}

.home-button-container{
  flex-flow: column;
  align-items: flex-start;
}
