// Specific CSS for your home-page
.banner-container {
  display: flex;
  justify-content: space-evenly;
  padding-right: 15px;
}

.section-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 80px;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  background-color: $brand-yellow-faded;
  padding-bottom: 80px;
}
.card-product {
  background-color: $off-white;

  li {
    color: $brand-purple;
  };
}

.card-product-infos {
  color: $brand-purple;
}

.home-image{
  margin-right: -150px;
  img{
    max-width: 840px;
  }
}
