// Import page-specific CSS files here.
// This page is specifically for the req_index homepage.

.page-heading {
  text-align: center;
  padding-top: 60px;
  color: $brand-purple;
}

.card-square-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 40px;
  padding-bottom: 80px;
}

.card-square {
  overflow: hidden;
  width: 300px;
  height: 300px;
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
  align-items: center;
  border-radius: 4px;
  background-color: $off-white;
}

.card-square img {
  max-height: 35vh;
  object-fit: cover;
  padding-top: 50px;
}

// .card-square h2 {
//   font-size: 20px;
//   font-weight: bold;
//   margin-bottom: 20px;
//   text-align: center;
// }


.card-square-infos {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;

  a {
    color: $brand-purple;
    text-decoration: none;

    &:hover {
    font-size: 21px;
    color: $brand-purple-lighter;
  }
  }
}
