// Place all the styles related to the insurances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.insurance-card {
  width: 325px;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: $off-white;
  display: flex;

  h2 {
    font-size: 23px;
    color: $brand-purple;
    font-weight: bold;
    text-align: center;
    padding-top: 40px;
  }

  img {
    border: 2px solid $brand-purple;
    border-radius: 4px;
    object-fit: cover;
    justify-content: center;
    padding: 20px;
  }

  p {
    color: $brand-purple;
    font-size: 16px;
    padding: 15px;
  }
}
