.profile_question {
  position: relative;
  background-color: white;
  min-height: 250px;
  padding: 40px 25px 45px 25px;
  box-shadow: 0 3px 5px $brand-purple;
  border-radius: 7px;
}

.question {
  display: none;
}

.question-show {
  display: inline-block;
}

.question-nav-buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-top: 45px;
  .btn {
    padding: 10px 50px;
    margin-right: 25px;
  }
}

.submit-btn {
  margin-top: 45px;
}


.question-header {
  color: $brand-purple !important;
  font-weight: 400;
  color: black;
  box-shadow: none;
  text-shadow: $black-shadow;
}

.selected{
  background-color: $brand-purple-lighter;
  color: white;
}

.hidden{
  display: none;
}
