// Place all the styles related to the registration_offices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
  height: 100%;
  width: auto;
  margin: 25px 25px;
  padding: 10px 10px;
}

.registration-offices-header-text {
  text-align: left;
  padding: auto 20px;
}

.registration-offices-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.map-container {
  margin-top: 15px;
  margin-bottom: 15px;
}

#map {
  width: 100%;
  height: 55vh;
}

.important-margin-class {
  margin-bottom: 15px !important;
}
