<h2 id="pop-up-name"><%= office.office_name %></h2>
<p><%= office.address %></p>

<button type="button" class="btn-mapbox-appointment" data-toggle="modal" data-target="#exampleModal<%= office.id %>">
  See available appointments
</button>
