<div class="section-container">
  <div class="card-product">
    <div style="text-align: center">
      <%= image_tag 'telescope.png'  %>
    </div>
    <div class="card-product-infos">
        <h2 class="header-shadow">Fullsome Support</h2>
        <ul>
          <li>"City address registration, health insurance, bank account, and more!" </li>
          <li>"Gather and keep track of all your information in one place."</li>
          <li>"We've done the research so you don't have to."
        </ul>
    </div>
  </div>
