<div class="container">
  <h1>My Portal</h1>
  <div class="grid-container portal-grid">
    <div id="progress-bar">
      This is your progress bar
    </div>
    <div class="selected-information-box">
      This is your booking information
    </div>
    <div class="selected-information-box">
      <% if @bank %>
        <div class="user-card-selected-info">
          <%= image_tag @bank.image %>
        </div>
      <% else %>
        <p>You have not selected a bank</p>
        <%= link_to "Choose a bank", banks_path  %>
      <% end %>
    </div>
    <div class="selected-information-box">
      <% if @insurance %>
        <div class="user-card-selected-info">
          <%= image_tag @insurance.image %>
          <div class="details">

          </div>
        </div>
      <% else %>
        <p>You have not selected an insurance provider</p>
        <%= link_to "Choose insurance", insurances_path  %>
      <% end %>
    </div>
  </div>
</div>
