<div class="container">
  <h1>My Portal</h1>
  <div class="grid-container portal-grid">
    <div id="progress-bar">
      This is your progress bar
    </div>
    <div class="selected-information-box">
      This is your booking information
    </div>
    <div class="selected-information-box">
      This is your Bank information
    </div>
    <div class="selected-information-box">
      This is your Insurance information
    </div>
  </div>
</div>
