<a class="btn btn-hollow" href="#">Button Hollow</a>
<a class="btn btn-flat" href="#">Button Flat</a>
<a class="btn btn-gradient-yellow" href="#">Button Gradient Yellow</a>
<a class="btn btn-gradient-purple" href="#">Button Gradient Purple</a>
