<h2>Here are the things you need to do and know...</h3>

<h3>Register your apartment</h3>
<p>Find you more</p>

<h3>Choose health insurance</h3>
<%= link_to "Find out more", insurances_path %>

<h3>Choose your bank</h3>
<%= link_to "Find out more", banks_path %>

<h3>Inform yourself about TV licensing</h3>
<%= link_to "Find out more", tv_license_path %>