<h1 class="page-header-text text-shadow">German TV License Fee <i>(Rundfunkbeitrag</i>)</h1>

  <div class="container">
    <div class="info-paragraph">
      <h3>What is this <i>Rundfunkbeitrag</i> exactly?</h3>
      <p>The <i>Rundfunkbeitrag</i> can be defined as the broadcasting fee or TV/radio tax in Germany. Each household in Germany ought to pay this fee, set at 17,50€ per month. It roughly translates to “global broadcasting contribution”.

      This contribution supports public TV & radio channels so they can produce independent & quality content, free of any governmental or other private influence. In 2020, it was 8,1 billions euros that were raised thanks to this system.

      Early versions of the broadcasting fee can be traced as far as 1924, and it has evolved over the years. Its mission has stayed the same even if technology & devices have advanced.</p>
    </div>
  </div>

    <%# <div class="bot">
      <%= image_tag 'bot5.png'  %>
    <%# </div> %>

<h2 class="page-header-text">Frequently Asked Questions:</h2>
<div class="card-square-container flex-container">
  <div class="flex-card-item-3">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h2>Is the German TV tax mandatory?</h2>
        </div>
        <div class="flip-card-back">
          <p>Yes. All German households have to pay this fee, although some exemptions are applicable depending on your handicap or social situation.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="flex-card-item-3">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h2>Does I need to pay the tax if I don’t understand German?</h2>
        </div>
        <div class="flip-card-back">
          <p>Yes. The inability to speak German does not exempt you from paying the broadcasting fee.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="flex-card-item-3">
    <div class="flip-card flex-card-item-3">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h2>Do I need to pay German TV tax if I’m an exchange student?</h2>
        </div>
        <div class="flip-card-back">
          <p>Yes. During your time in Germany, when becoming a resident, you also liable for it. You can apply for exemption if you receive welfare support in the form of AföG, <i>Berufsausbildungsbeihilfe</i> or <i>Ausbildungsgeld</i>.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="flex-card-item-3">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h2>Where do I find my <i>Beitragsnummer?</i></h2>
        </div>
        <div class="flip-card-back">
          <p>You can find your Beitragsnummer subscription confirmation or on the payment reminders you have received. It has a 9-number format.</p>
        </div>
      </div>
    </div>
  </div>


  <div class="flex-card-item-3">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h2>Which channels are financed by the <i>Rundfunkbeitrag?</i></h2>
        </div>
        <div class="flip-card-back">
          <p>ARD, ZDF (second TV channel), ARTE, Phoenix, 3sat, KiKA, ONE and all channels belonging to Deutschland Radio.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="flex-card-item-3">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h2>Can I put this fee off in taxes?</h2>
        </div>
        <div class="flip-card-back">
          <p>No, unfortunately not.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="back-btn-container">
  <%= link_to "<< Back to Required Tasks", req_index_path, class: "btn-back" %>
</div>
