// Added by james
.card-container{
  justify-content: space-around;
}

// SQUARE CARDS

.card-square-container {
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 80px;
  margin-top: 5px;
}

.nu2-card{
  // .card is a bootstrap class
  width: 355px;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: $off-white;
  img{
    width: 60%;
    object-fit: cover;
  }
}

.card-square {
  width: 275px;
  height: 275px;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
  &:hover {
    text-decoration: none;
  }
  img{
    width: 100%;
  }
}

.card-square-infos {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 10px;
  color: $brand-purple;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

// FLIP CARDS => See file _television.scss
// Added by James

.card-product-infos {
  padding: 20px 20px 0 20px;
  color: $brand-purple;

  h2 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
  }

  ul  {
    padding-right: 5px;
    text-align: left;
  }
}
