.footer {
  background: $brand-yellow;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // height: 100px;
  padding: 0px 0px;
  color: $brand-purple;
	display: sticky;
	bottom: 0
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $brand-purple;
  opacity: 0.15;
  text-decoration: none;
  font-size: 30px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
