.form-registration {
  background-color: $off-white;
  width: 80%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
  border: 1px solid 0.1;
  padding: 100px;
  justify-content: center;
  margin: 0 auto;

  color: $brand-purple;

  .form-header {
    color: $brand-purple;
    padding-top: 20px;
  }

  .field {
    color: $brand-purple;
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .reg-input{
    width: 100%;
    border: 1px solid rgba(40, 40, 40, .3);
  }

  .reg-btn, .reg-input{
    padding: 10px;
    font-size: 1.1rem;
  }

  .reg-btn{
    width: 150px;

  }

  .actions {
    margin-top: 20px;
  }
}
// Added by James
.input-field{
  height: 55px;
  font-size: 1.2em;
}
