// This file should contain all global values related to headers, document headers and page headers. This will overwrite any steup within the config that relates to headers.


.call-to-action{
  color: $off-white;
}

#call-to-action-header{
  margin-top: 30px;
  font-size: 50px;
  font-weight: bold;
}

#call-to-action-text{
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 30px;
}

h3 {
  padding-top: 10px;
  font-size: 25px;
  font-weight: bold;
}

.page-header-text{
  font-size: 30px;
  font-weight: bold;
  color: $off-white;
  margin-bottom: 60px;

}


.text-shadow{
  text-shadow: $black-shadow
}

// .page-heading {
//   text-align: center;
//   padding-bottom: 20px;
// }
