// This file should contain all global values related to headers, document headers and page headers. This will overwrite any steup within the config that relates to headers.


.call-to-action{
  color: $off-white;
}

#call-to-action-header{
  margin-top: 30px;
  font-size: 50px;
  font-weight: bold;
}

#call-to-action-text{
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 30px;
}

.section-headers {
  color: $off-white;
  padding-top: 10px;
  font-size: 25px;
  font-weight: bold;
}

h1.page-header-text{
  font-size: 3rem;
  margin: 25px 0 60px 0;
  text-align: center;
}

h2.page-header-text{
  font-size: 1.9rem;
  text-align: center;
  margin: 25px;
}

h3.page-header-text{
  font-size: 1.4rem;
}
.page-header-text{
  font-size: 30px;
  padding: 0 16px;
  font-weight: bold;
  color: $off-white;
  margin-bottom: 15px;
}

.text-shadow{
  text-shadow: $black-shadow
}

.text-center{
  text-align: center;
}
