// This file should contain all global values related to headers, document headers and page headers. This will overwrite any steup within the config that relates to headers.

#call-to-action-header{
  margin-top: 30px;
  color: white;
  font-size: 50px;
  font-weight: bold;
}

h2 {
  color: $off-white;
  // text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 30px;
  font-weight: bold;
}

h3 {
  padding-top: 10px;
  color: $off-white;
  // text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 25px;
  font-weight: bold;
}


.header-shadow{
  text-shadow: $black-shadow
}

.page-heading {
  text-align: center;
  padding-bottom: 20px;
}
