.flex-container{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 80px;
}



.grid-container{

}


// .page-heading {
//   text-align: center;
//   padding-bottom: 20px;
// }
