.mapboxgl-popup {
    max-width: 200px;
  }

  .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: $brand-purple;
  }

  .mapboxgl-popup-content #pop-up-name {
    font-size: 16px;
  }
