.navbar-nu2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background: $brand-yellow;
  // position: sticky;
  top: 0;
}

.navbar-nu2 .navbar-collapse {
  flex-grow: 0;
}

.nav-item {
  color: $brand-purple;
}

.navbar-nu2-logo {
  font-family: $logo-font;
  font-weight: 800;
  font-size: 60px;
  color: $brand-purple;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: $brand-purple;
  }
}

.nav-link{
  font-size: 1.2rem;
}
