// Place all the styles related to the registration_offices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
  background-color: $brand-yellow;
  // width: auto;
  // margin-top: 50px;
  // margin-bottom: 50px;
  // padding: 20px;
}

.registration-office-header {
  text-align: center;
  color: $brand-purple;
  font-family: $headers-font;
  padding: 20px;
  h1 {
    font-size: 20px;
  }
}

.registration-office-details {
  color: $brand-purple;
  margin: 20px 20px;
  padding: 20px;
  h3 {
    font-size: 20px;
    font-family: $body-font;
  }
}

.appointments-container {
  display: grid;
}

.grid-body {
  display: grid;
  // grid-template-columns: 2fr 1fr;

  .column-left {
    grid-column: 1;
    // grid-column: 2;
  }

  .column-right {
    grid-row: 1;
    grid-column: 2;
  }
}
