<div class="grid-body">

  <div class="container">
    <h1 class="appointment-header-text">Please find your booking details below:</h1>
      <div>
        <h2></h2>
        <h1><%#= @registration_office.office_name %></h1>
        <h2><%#= @registration_office.address %></h2>

        Your appointment: <h1><% @appointment.date(:user_id) %></h1>
      </div>
    </div>

 </div>
